.about-me__container {
    height: 75vh;
    max-width: 800px;

    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr 3fr auto;
    grid-template-areas:
    "image title"
    "image text"
    "image contacts";
    column-gap: var(--space-10);

    margin-top: var(--space-6);
}

.about-me__image {
    grid-area: image;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--space-5);
}

.about-me__title-container {
    grid-area: title;
    position: relative;
    right: 100px;
    bottom: 30px;
    height: min-content;

    padding: var(--space-5);
    border-radius: var(--space-5);
    background-color: var(--color-bg-primary);
}

.about-me__text {
    grid-area: text;
}

.about-me__contacts {
    grid-area: contacts;
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
}

@media (width < 650px) {
    .about-me__container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: var(--space-8);
    }

    .about-me__image {
        width: 100%;
        aspect-ratio: 1/1;
        object-position: top;
    }

    .about-me__title-container {
        position: static;
        padding: 0px;
    }
}