{% extends "users/base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
  <div class="container">
    <form class="form form_big-margins form_alinment_center form_size_compact white-section" method="post">
      {% csrf_token %}
      <h3 class="title-h3">Изменение пароля</h3>
      {% include "includes/form_errors_and_fields.html" %}
      <button class="button button_color_black text form__button">
        Изменить пароль
      </button>
    </form>
  </div>
{% endblock %}