.logged-out-info {
    margin: var(--space-20) 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    width: 350px;
    align-items: center;
}

.logged-out-info__image {
    width: 80%;
    object-fit: cover;
    transform: rotate(4deg);
}

.logged-out-info__buttons {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    width: 100%;
}

.logged-out-info__button {
    text-align: center;
}