.profile__title {
    margin-bottom: var(--space-4);
}

.profile__sidebar-and-content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--space-12);
}

.profile__sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    align-items: center;
    height: min-content;
    max-width: 300px;
    text-align: center;
}

.profile__avatar {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 4px var(--color-text-secondary) ;
}

.profile__user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-1);
}

.profile__nav-list {
    color: var(--color-text-secondary);
}

.profile__link {
    padding: var(--space-3) var(--space-4);
    border-bottom: 1px solid var(--color-text-secondary);
}

.profile__auth-text {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.profile__auth-buttons {
    display: flex;
    flex-direction: row;
    gap: var(--space-3);
}

.profile__content-title {
    margin-bottom: var(--space-4);
}

.profile__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-10);
}

@media (width < 800px) {
    .profile__sidebar-and-content {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
    }
}