{% load static %}

<div class="cards-grid">
  <div class="card card_horizontal card_grid cards-grid__card-1">
    <img class="card__image card__image_horizontal" src="{% static 'img/fitness legs.jpg'%}" alt="Девушка занимается фитнесом"/>
    <div class="card__content">
      <p class="title-h3">Это блог о том, как сделать свою жизнь счастливее с помощью фитнеса</p>
    </div>
  </div>

  <div class="card card_horizontal card_grid cards-grid__card-2">
    <img class="card__image card__image_full" src="{% static 'img/cat_nyan.gif'%}"/>
  </div>

  <div class="card card_vertical card_grid cards-grid__card-3">
    <img class="card__image card__image_vertical" src="{% static 'img/fitness legs.jpg'%}" alt="Девушка занимается фитнесом"/>
    <div class="card__content">
      <div class="card__text">
        <h3 class="title-h3 card__title">Заголовок поста</h3>
        <p class="text card__description">Это краткое описание поста, которое отображается в карточке</p>
      </div>
      <a class="button text" href="#">Читать</a>
    </div>
  </div>

  <div class="card card_vertical card_grid cards-grid__card-4">
    <img class="card__image card__image_vertical" src="{% static 'img/fitness legs.jpg'%}" alt="Девушка занимается фитнесом"/>
    <div class="card__content">
      <div class="card__text">
        <h3 class="title-h3 card__title">Заголовок поста</h3>
        <p class="text card__description">Это краткое описание поста, которое отображается в карточке</p>
      </div>
      <a class="button text" href="#">Читать</a>
    </div>
  </div>

  <div class="card card_vertical card_grid cards-grid__card-5">
    <img class="card__image card__image_vertical" src="{% static 'img/fitness legs.jpg'%}" alt="Девушка занимается фитнесом"/>
    <div class="card__content">
      <div class="card__text">
        <h3 class="title-h3 card__title">Заголовок поста</h3>
        <p class="text card__description">Это краткое описание поста, которое отображается в карточке</p>
      </div>
      <a class="button text" href="#">Читать</a>
    </div>
  </div>

  <div class="card card_vertical card_grid cards-grid__card-6">
    <img class="card__image card__image_vertical" src="{% static 'img/fitness legs.jpg'%}" alt="Девушка занимается фитнесом"/>
    <div class="card__content">
      <div class="card__text">
        <h3 class="title-h3 card__title">Заголовок поста</h3>
        <p class="text card__description">Это краткое описание поста, которое отображается в карточке</p>
      </div>
      <a class="button text" href="#">Читать</a>
    </div>
  </div>

  <div class="card card_vertical card_grid cards-grid__card-7">
    <img class="card__image card__image_vertical" src="{% static 'img/fitness legs.jpg'%}" alt="Девушка занимается фитнесом"/>
    <div class="card__content">
      <div class="card__text">
        <h3 class="title-h3 card__title">Заголовок поста</h3>
        <p class="text card__description">Это краткое описание поста, которое отображается в карточке</p>
      </div>
      <a class="button text" href="#">Читать</a>
    </div>
  </div>
</div>