{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ category.name }}: все посты
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static "blog/css/blog_styles.css" %}">
{% endblock %}

{% block content %}
  <section class="category-header">
    <div class="container category-header__container">
      <div class="category-header__text">
        <h1 class="title-h1 category-header__name">{{ category.name }}</h1>
        <p class="text category-header__description">{{ category.description }}</p>
      </div>
      {% if posts|length >= 3 %}
        <div class="category-header__posts">
          {% include "blog/includes/card.html" with post=posts.0 element_class="category-header__card-1" orientation_class="card_orientation_vertical" %}
          {% include "blog/includes/card.html" with post=posts.1 element_class="category-header__card-2" orientation_class="card_orientation_vertical" %}
          {% include "blog/includes/card.html" with post=posts.2 element_class="category-header__card-3" orientation_class="card_orientation_vertical" %}
        </div>
      {% endif %}
    </div>
  </section>
  {% include "blog/includes/posts_with_container.html" with title="Все посты" %}
{% endblock%}