{% extends "base.html" %}
{% load static %}

{% block title %}
  Главная
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'blog/css/blog_styles.css' %}">
{% endblock %}

{% block content %}
  <section class="hero-section">
    <div class="container">
      <div class="hero-section__title">
        <h1 class="hero-section__name title-h1">Лучшие публикации</h2>
        <a class="hero-section__all_button label" href="{% url "blog:all_posts" %}">Смотреть все -&gt</a>
      </div>
      {% include "blog/includes/cards_grid.html" %}
    </div>
  </section>
  {% for item in posts_by_category %}
    <section class="post-feed">
      <div class="container">
        <div class="post-feed__title">
          <h2 class="title-h2">{{ item.category.name }}</h2>
          <a class="label" href="">Смотреть все -&gt</a>
        </div>

        {% if item.posts %}
          {% include "blog/includes/posts-gallery.html" with posts=item.posts %}
        {% else %}
          <p class="text">Здесь пока нет постов</p>
        {% endif %}
      </div>
    </section>
  {% endfor %}
{% endblock %}