{% extends "base.html" %}
{% load static %}
{% load markdownify %}

{% block title %}
  {{ title.name }}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static "blog/css/blog_styles.css" %}">
{% endblock %}

{% block content %}
  <article>
    <div class="post-header">
      <div class="container post-header__container">
        <div class="post-header__text">
          <h2 class="title-h2 post-header__name">{{ post.name }}</h2>
          <div class="post-header__meta">
            <span class="text post-header__meta-item">{{ post.category }}</span>
            <span class="text post-header__meta-item">
              Дата публикации: {{ post.pub_datetime|date:"d.m.Y"}}
            </span>
          </div>
        </div>
        {% if post.cover %}
          <img class="post-header__image" src="{{ post.cover.url }}" alt="Обложка поста"/>
        {% endif %}
        </div>
    </div>

    <div class="post-content">
      <div class="container post-content__container">
        <aside class="post-content__aside post-aside">
          <div>
            <h4 class="title-h4 post-aside__title">Время чтения</h4>
            <p class="text text_secondary">{{ post.minutes_to_read }} мин.</p>
          </div>
          <nav class="post-nav">
            <h4 class="title-h4 post-aside__title">В этом посте</h4>
            <ol class="post-nav__list">
              {% for title in post.table_of_contents %}
                <li class="text text_secondary">{{ title }}</li>
              {% endfor %}
            </ol>
          </nav>
          <div>
            <h4 class="title-h4 post-aside__title">Действия</h4>
            <div class="post_aside__buttons">
              <button class="icon icon_tg" data-action="share-tg"></button>
              <button class="icon icon_link" data-action="share-link"></button>
              <button class="icon icon_heart" data-action="like"></button>
            </div>
          </div>
          <dialog class="dialog" aria-labelledby="dialog__title">
            <h4 class="dialog__title title-h4"></h4>
            <p class="dialog__text text text_secondary"></p>
          </dialog>
        </aside>

        <div class="markdown post-content__text">
          {{ post.content|markdownify }}
        </div>
      </div>
    </div>
  </article>
  
  <div class="container">
    <section class="post-feed">
      <h2 class="title-h2 post-feed__title">Смотрите также</h2>

      {% with post.recommended_posts.all as recommended_posts %}
        {% if recommended_posts|length %}
          {% include "blog/includes/posts_gallery.html" with posts=recommended_posts %}
        {% else %}
          <p class="text">Здесь пока ничего нет</p>
        {% endif %}
      {% endwith %}
    </section>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static "blog/js/icons.js" %}"></script>
{% endblock %}