.button {
    cursor: pointer;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--color-button);
    box-shadow: var(--shadow);
    transition: 0.3s ease;
}

.button:hover {
    background-color: var(--color-button-hover);
}

.button:active {
    background-color: var(--color-button-focus);
}

.button_color_orange {
    color: var(--color-text-3);
    background-color: var(--accent-color-1);
}

.button_color_orange:hover {
    background-color: var(--accent-color-1-hover);
}