.footer {
    background-color: var(--color-bg-3);
    color: var(--color-text-3);
    margin-top: auto;
}

.footer__container {
    padding-top: var(--space-4); 
    padding-bottom: var(--space-4);

    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}
