.header__container {
    padding-top: var(--space-4); 
    padding-bottom: var(--space-4);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-12);
}

/* Мобильная версия */
.header__nav-mobile {
    display: none;
}

.header__menu-icon {
    width: 25px;
    height: 25px;
}

@media (width < 900px) {
    .header__nav {
        display: none;
    }
    
    .header__nav-mobile {
        display: block;
    }

    .header__container {
        justify-content: space-between;
    }
}
