.header__container {
    padding-top: var(--space-4); 
    padding-bottom: var(--space-4);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: var(--space-12);
    align-items: center;
}

.header_white {
    color: white;
}

/* Мобильная версия */
.header__nav-mobile {
    display: none;
}

.header__menu-button {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.header__menu-icon {
    width: 100%;
    height: 100%;
}

@media (width < 900px) {
    .header__nav {
        display: none;
    }
    
    .header__nav-mobile {
        display: block;
    }

    .header__container {
        justify-content: space-between;
    }
}
