.menu-link {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    align-items: center;
}

.menu-link__text {
    display: flex;
    flex-direction: column;
}

.menu-link__arrow {
    width: var(--font-size-paragraph);
    height: var(--font-size-paragraph);
}

.menu-link:hover {
    font-weight: var(--font-weight-bold);
}