.nav__list {
    display: flex;
    flex-direction: row;
    gap: var(--space-8);
}

.nav__item {
    text-wrap: nowrap;
}

@media (width < 700px) {
    .nav__list {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
    }
}