.title-h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    line-height: 0.9;
}

.title-h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
}

.title-h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
}

.title-h4 {
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-medium);
}

.text {
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-normal);
}

.text_secondary {
    color: var(--color-text-secondary);
}

.label {
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-bold);
    font-style: italic;
}

.orange {
    color: var(--accent-color-1);
}

.bulleted-list {
    list-style: none;
    padding-left: var(--space-10);
}

.bulleted-list li::marker {
  content: "• ";
}