.title-h1 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    line-height: 0.9;
}

.title-h2 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
}

.title-h3 {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
}

.title-h4 {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-medium);
}

.text {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-normal);
}

.text_secondary {
    color: var(--color-text-secondary);
}

.label {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
    font-style: italic;
}