{% load static %}

<div class="cards-grid">
  <div class="card card_size_grid card_orientation_horizontal cards-grid__card-1">
    <img class="card__image card__image_orientation_horizontal"
      src="{% static 'img/fitness legs.jpg'%}"
      alt="Девушка занимается фитнесом"/>

    <div class="card__content">
      <p class="title-h3">Это блог о том, как сделать свою жизнь счастливее с помощью фитнеса</p>
    </div>
  </div>

  <div class="card card_size_grid cards-grid__card-2">
    <img class="card__image card__image_orientation_horizontal" src="{% static 'img/cat_nyan.gif'%}"/>
  </div>

  {% include "blog/includes/card.html" with post=posts.0 element_class="cards-grid__card-3" size_class="card_size_grid" orientation_class="card_orientation_vertical" %}
  {% include "blog/includes/card.html" with post=posts.1 element_class="cards-grid__card-4" size_class="card_size_grid" orientation_class="card_orientation_vertical" %}
  {% include "blog/includes/card.html" with post=posts.2 element_class="cards-grid__card-5" size_class="card_size_grid" orientation_class="card_orientation_vertical" %}
  {% include "blog/includes/card.html" with post=posts.3 element_class="cards-grid__card-6" size_class="card_size_grid" orientation_class="card_orientation_vertical" %}
  {% include "blog/includes/card.html" with post=posts.4 element_class="cards-grid__card-7" size_class="card_size_grid" orientation_class="card_orientation_vertical" %}
  
</div>