.best-posts__title {
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
    align-items: center;

    margin-bottom: 20px;
}

@media (width < 1100px) {
    .best-posts {
        display: none;
    }
}
