.card {
    background-color: var(--color-bg-secondary);
    border-radius: var(--space-5);
    box-shadow: var(--shadow);
    padding: var(--space-5);
}

.card_orientation_vertical {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-5);
}

.card_orientation_horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--space-5);
}

.card_orientation_vertical .card_with-number {
    grid-template-columns: auto minmax(30%, 1fr) auto;
    grid-template-areas:
        "number"
        "image"
        "content";
}

.card_orientation_horizontal .card_with-number {
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas:
        "number image content";
}

.card__image {
    object-fit: cover;
    border-radius: 15px;
    min-width: 0;
    min-height: 0;
}

.card__image_orientation_vertical {
    width: 100%;
    height: 20%;
    flex-grow: 5;
}

.card__image_orientation_horizontal {
    height: 100%;
    width: 40%;
    flex-grow: 5;
    flex-shrink: 1;
}

.card__image_full {
    width: 100%;
    height: 100%;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 3;
}

.card__title {
    margin-bottom: var(--space-1);
}

.card__description {
    color: var(--color-text-secondary);
    margin-bottom: var(--space-3);
}

.card_size_m {
    width: 260px;
    aspect-ratio: 3/4;
}

.card_size_l {
    width: 300px;
    height: 430px;
}

.card_size_xl {
    width: 360px;
    height: 500px;
}

.card_size_gallery-grid {
    width: 100%;
    max-height: 320px;
}

.card_size_grid {
    height: 100%;
    width: 100%;
    container: card_size_grid / size;
}

/* Уменьшение размера текста */
@container card_size_grid (width < 250px) and (height < 300px) {
    .card__title {
        font-size: var(--font-size-paragraph);
    }

    .card__description, .card__button {
        font-size: var(--font-size-paragraph);
    }
}

/* Скрытие картинки */
@container card_size_grid ((width < 200px) or (height < 200px)) {
    .card__image {
        display: none;
    }

    .card__image_full {
        display: block;
    }
}