.card {
    background-color: var(--color-bg-secondary);
    border-radius: var(--space-5);
    box-shadow: var(--shadow);
    padding: var(--space-5);
    display: grid;
}

.card_orientation_vertical {
    grid-template-rows: minmax(20%, 1fr) min-content;
    gap: var(--space-5);
    align-items: start;
    grid-template-areas:
        "image"
        "content";
    container: card_orientation_vertical / size;
}

.card_orientation_horizontal {
    grid-template-columns: minmax(40%, 1fr) auto;
    height: 200px;
    gap: var(--space-5);
    align-items: center;
    grid-template-areas:
        "image content";
    container: card_orientation_horizontal / size;
}

.card_orientation_vertical .card_with-number {
    grid-template-columns: auto minmax(30%, 1fr) auto;
    grid-template-areas:
        "number"
        "image"
        "content";
}

.card_orientation_horizontal .card_with-number {
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas:
        "number image content";
}

.card__image {
    grid-area: image;
    object-fit: cover;
    border-radius: 15px;
    min-width: 0;
    min-height: 0;
}

.card__image_orientation_vertical {
    width: 100%;
    max-height: 100%;
}

.card__image_orientation_horizontal {
    height: 100%;
    width: 100%;
}

.card__content {
    grid-area: content;
    min-width: 0; /* для правильного переноса текста */
}

.card__title {
    margin-bottom: var(--space-1);
}

.card__description {
    color: var(--color-text-secondary);
    margin-bottom: var(--space-3);
}

.card_size_m {
    height: 420px;
    width: 270px;
}

.card_size_l {
    width: 300px;
    height: 430px;
}

.card_size_xl {
    width: 360px;
    height: 500px;
}

.card_size_grid {
    height: 100%;
    width: 100%;
}

@container card_orientation_vertical (height < 350px) {
    .card__title {
        font-size: var(--font-size-s);
    }

    .card__description, .card__button {
        font-size: var(--font-size-xs);
    }
}