.category-header__posts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.category-header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-header__text {
    max-width: 60%;
    margin-bottom: var(--space-6);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-3);
    text-align: center;
}