.homepage-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
    aspect-ratio: 8 / 4;
}

.homepage-grid__card-1 {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
}

.homepage-grid__card-2 {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
}

.homepage-grid__card-3 {
    grid-column: 7 / 9;
    grid-row: 1 / 3;
}

.homepage-grid__card-4 {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

.homepage-grid__card-5 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}

.homepage-grid__card-6 {
    grid-column: 5 / 7;
    grid-row: 2 / 5;
}

.homepage-grid__card-7 {
    grid-column: 7 / 9;
    grid-row: 3 / 5;
}