.icon {
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    aspect-ratio: 1 / 1;
    transition: 0.2s ease-in;
}

.icon_tg {
    background-image: url(../../img/telegram_icon_grey.svg);
}

.icon_tg:hover {
    background-image: url(../../img/telegram_icon_colored.svg);
}

.icon_link {
    background-image: url(../../img/link_icon_grey.svg);
}

.icon_link:hover {
    background-image: url(../../img/link_icon_black.svg);
}

.icon_heart {
    background-image: url(../../img/heart_icon_grey.svg);
}

.icon_heart:hover {
    background-image: url(../../img/heart_icon_stroke_red.svg);
}

.icon_heart.liked {
    background-image: url(../../img/heart_icon_filled_red.svg);
}