.markdown > :first-child {
    margin-top: 0;
}

.markdown h2 {
    font-size: var(--font-size-h3);
    margin-top: var(--space-16);
    margin-bottom: var(--space-3);
}

.markdown h3 {
    font-size: var(--font-size-h3);
    margin-top: var(--space-12);
    margin-bottom: var(--space-4);
}

.markdown h4 {
    font-size: var(--font-size-paragraph);
    margin-top: var(--space-4);
    margin-bottom: var(--space-4);
}

.markdown p {
    font-size: var(--font-size-paragraph);
}

.markdown a {
    color: var(--accent-color-1);
    font-weight: var(--font-weight-medium);
}

.markdown ul, .markdown ol {
    font-size: var(--font-size-paragraph);
    padding-left: var(--space-10);
    margin-top: var(--space-2);
    margin-bottom: var(--space-4);
}

.markdown ul {
    list-style-type: disc;
}

.markdown ol {
    list-style-type: decimal;
}

.markdown p, .markdown li {
    margin-bottom: var(--space-2);
    line-height: 1.5;
}

.markdown li {
    margin-bottom: var(--space-2);
}

.markdown code {
    display: inline-block;
    padding: var(--space-5) var(--space-4);
    margin: var(--space-2) 0;
    border-radius: 10px;

    font-size: var(--font-size-paragraph);
    background-color: var(--color-bg-primary);
}

.markdown img {
    border-radius: 15px;
    max-height: 500px;
    width: 80%;
    object-fit: cover;
    margin: var(--space-4) auto;
}

.markdown strong {
    font-weight: var(--font-weight-bold);
}

.markdown hr {
    margin-bottom: var(--space-8);
}

.markdown table {
    font-size: var(--font-size-table);
    margin-top: var(--space-6);
    margin-bottom: var(--space-10);
    border-collapse: collapse;
}

.markdown thead {
    border-bottom: var(--space-2) solid transparent;
}

.markdown td {
    padding: var(--space-2);
    border-bottom: 1px solid var(--color-text-secondary);
}

.markdown blockquote {
    background-color: var(--color-bg-primary);
    margin: 0px;
    padding: var(--space-3) var(--space-2) var(--space-3) var(--space-6);
    border-radius: var(--space-1);
    border-left: 4px solid var(--accent-color-1);
}