.mobile-hero-section {
    display: none;
}

.mobile-hero-section__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-8);
    padding-top: var(--space-6);
    padding-bottom: var(--space-8);
}

.mobile-hero-section__text {
    font-size: var(--font-size-h2);
    flex-shrink: 1;
    flex-grow: 0;
}

.mobile-hero-section__image {
    min-width: 10%;
    max-width: 40%;
    object-fit: cover;
    transform: rotate(5deg);
    flex-grow: 5;
}

@media (width < 1100px) {
    .mobile-hero-section {
        display: block;
    }
}