.post-gallery {
    padding: var(--space-3);
}

.post-gallery__posts {
    margin-bottom: var(--space-4);
}

.post-gallery__buttons {
    display: flex;
    flex-direction: row;
    gap: var(--space-1);
}