.post-gallery__posts {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    margin-bottom: var(--space-4);
}

.post-gallery__buttons {
    display: flex;
    flex-direction: row;
    gap: var(--space-1);
}