.post-header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-10);
}

.post-header__text {
    flex-shrink: 1;
}

.post-header__image {
    flex-shrink: 0;
    width: 55%;
    max-height: 380px;
    object-fit: cover;

    border-radius: 15px;
}

.post-header__name {
    margin-bottom: var(--space-4);
}

.post-header__meta {
    display: flex;
    flex-direction: column;
    gap: var(--space-2)
}

.post-header__meta-item {
    width: fit-content;
    padding: var(--space-1) var(--space-2);
    border: 1px solid var(--color-text-secondary);
    border-radius: var(--space-3);
}

@media (width < 450px) {
    .post-header__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
    }

    .post-header__image {
        width: 100%;
        aspect-ratio: 1/1;
    }
}