.post-content {
    background-color: var(--color-bg-secondary);
    margin-top: var(--space-10);
}

.post-content__container {
    display: flex;
    flex-direction: row;
    gap: var(--space-10);
}

.post-content__aside {
    max-width: 30%;

    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.post-content__text {
    max-width: 75%;
}