.post-aside__title {
    margin-bottom: var(--space-1);
}

.post_aside__buttons {
    margin-top: var(--space-2);
    margin-left: var(--space-2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-4);
}