.posts__title {
    margin-bottom: var(--space-4);
}

/* .posts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-4);
    margin: 0 auto;
}

@media (width < 450px) {
    .posts__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .posts__list {
        width: min-content;
    }
} */

.posts__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--space-4);
}