.top {
    background-color: var(--accent-color-1);
}

.top__title {
    text-align: center;
    color: white;
    margin-bottom: var(--space-4);
}

.top__grid {
    width: 100%;
    aspect-ratio: 2 / 1.1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: var(--space-3);
}

.top__card-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.top__card-2 {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.top__card-3 {
    grid-column: 1 / 3;
    grid-row: 3 / 6;
}

.top__card-4 {
    grid-column: 3 / 5;
    grid-row: 3 / 6;
}

.top__card-5 {
    grid-column: 5 / 7;
    grid-row: 3 / 6;
}

.top .card {
    box-shadow: 0rem 0.4rem 0.4rem 0rem 
        var(--accent-color-1-hover);
}

.top .button {
    background-color: var(--accent-color-1);
    color: var(--color-text-3);
}

@media (width < 1000px) {
    .top {
        display: none;
    }
}